<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <th:block th:replace="layout/head :: head"/>
</head>
<body>




<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
        In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form id="frmLogin" class ="form-">
                    <div class="form-group group">
                        <label  class="label">Email</label>
                        <input type="text" class="input"  id="emailLogin" name="emailLogin" placeholder="Nhập email" required autofocus>
                    </div>
                    <div class="form-group group">
                        <label class="label">Password</label>
                        <input  class="input" data-type="password"  placeholder="Password" id = "passwordLogin" name = "passwordLogin" type="password"  required>
                    </div>
                    <div class="form-group group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="form-group group">
                        <button type="button" id="btnLogin" class="btn submit-btn button"  value="Sign In">Login</button>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </form>
            </div>





            <div>
                <div class="sign-up-htm">
                    <form id="frmRegister" class ="form-">
                        <div class="role">
                            <div class="custom-options">
                                <select id="roleSelectRegister" name="roleSelectRegister" class="form-select">
                                </select>
                            </div>
                        </div>
                        <div class="group">
                            <label class="label">Full Name</label>
                            <input type="text" class="input"  id="fullNameRegister" name="fullNameRegister"  placeholder="Nhập họ tên" autofocus>
                        </div>
                            <div class="group">
                                <label class="label">Email Address</label>
                                <input type="text" class="input"  placeholder="Email"  id="emailRegister" name="emailRegister">
                            </div>
                            <div class="group">
                                <label class="label">Password</label>
                                <input type="password" class="input" data-type="password"   placeholder="Password" id="passwordRegister" name="passwordRegister" >
                            </div>
                            <div class="group">
                                <button type="button" id="btnRegister" class="btn submit-btn button"   value="Sign Up">Register</button>
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <label for="tab-1">Already Member?</label>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<th:block th:replace="layout/script :: script"/>
<script>

    const page = {
        urls: {
            login: App.AUTH_URL + "/login",
            register: App.AUTH_URL + "/register",
            getAllRoles: App.ROLE_API,
        },
        elements: {},
        commands: {},
        initializeEventControl: {}
    }

    page.elements.frmLogin = $("#frmLogin");
    page.elements.emailLogin = $("#emailLogin");
    page.elements.passwordLogin = $("#passwordLogin");
    page.elements.btnLogin = $("#btnLogin");
    page.elements.frmRegister = $("#frmRegister");
    page.elements.fullNameRegister = $("#fullNameRegister");
    page.elements.emailRegister = $("#emailRegister");
    page.elements.passwordRegister = $("#passwordRegister");
    page.elements.roleSelectRegister = $("#roleSelectRegister");
    page.elements.btnRegister = $("#btnRegister");


    page.commands.login = () => {
        let user = {

            register: "http://localhost:8080/api/auth/login",
            getAllRoles: App.ROLE_API,
            username: page.elements.emailLogin.val(),
            password: page.elements.passwordLogin.val()
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: page.urls.login,
            data: JSON.stringify(user)
        }).done((resp) => {
            App.SweetAlert.redirectPage("Đăng nhập thành công.","<b></b>",1000);

            setTimeout(function () {
                window.location.href = "/";
            }, 1000);

        }).fail(function (jqXHR) {
            if (jqXHR.responseJSON) {
                if (jqXHR.responseJSON.message) {
                    App.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
                } else {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        App.IziToast.showErrorAlertLeft(value);
                    });
                }
            } else {
                App.IziToast.showErrorAlertLeft("Email hoặc mật khẩu không đúng. Vui lòng kiểm tra lại!");
            }
        });
    }




    $(() => {
        page.commands.loadData();
        page.initializeEventControl();
    });



    page.commands.getAllRole = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllRoles
            // url: "http://localhost:8080/api/roles"
        })
            .done((data) => {
                console.log('data: ', data)
                data.map(item => {
                    let str = `<option value="${item.id}">${item.code}</option>`;
                    page.elements.roleSelectRegister.append(str);
                })
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.commands.register = () => {
        let user = {
            register: "http://localhost:8080/api/auth/register",
            fullName : page.elements.fullNameRegister.val(),
            username: page.elements.emailRegister.val(),
            password: page.elements.passwordRegister.val(),
            role: {
                id: page.elements.roleSelectRegister.val(),
                code: page.elements.roleSelectRegister.find("option:selected").text()
            }
        }

        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: page.urls.register,
            data: JSON.stringify(user)
        }).done((resp) => {
            App.IziToast.showSuccessAlertLeft("Đăng ký thành công");
            App.IziToast.showSuccessAlertLeft("Đang chuyển sang trang đăng nhập");
            page.elements.frmRegister[0].reset();
            setTimeout(function () {
                window.location.href= "";
            }, 2000);
        }).fail(function (jqXHR) {
            if (jqXHR.responseJSON) {
                if (jqXHR.responseJSON.message) {
                    App.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
                } else {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        App.IziToast.showErrorAlertLeft(value);
                    });
                }
            } else {
                App.IziToast.showErrorAlertLeft("Không thể tạo tài khoản, vui lòng kiểm tra lại");
            }
        });
    }

    page.commands.loadData = () => {
        page.commands.getAllRole();
    }

    page.initializeEventControl = () => {
        page.elements.btnRegister.on("click", () => {
            page.commands.register();
        })
        page.elements.btnLogin.on("click", () => {
            page.commands.login();
        })
    }

</script>

</body>
</html>